<div class="background__first-level">
    <p class="number-of-levels">Level 1</p>
    <a class="back button" href="#/games" title="Click here to return back!">Back</a>
    <p class="instruction">Слушай и повторяй. Постарайся запомнить, как звучат и пишутся представленные слова.</p>
    <div class="container-game">
        {{#each gameItems}}
            {{> game-item-template gameItem=this}}
        {{/each}}
    </div>
    <a class="next button" href="#/second-level/{{game.id}}" title="Click here to play next level!">Next</a>
</div>