<div class="game-item">
    <img class="game-item__img" src={{gameItem.imageUrl}}>
    <p class="game-item__englishWord">{{gameItem.englishWord}}</p>
    <p class="game-item__russianWord">{{gameItem.russianWord}}</p>
    <img class="sound" src="../../../images/play.png" data-sound= {{gameItem.sound}}>
</div>
