<div class="third-level__field">
    <span class="third-level__field-englishWord">{{gameItem.englishWord}}</span>
    <img class="third-level__field-sound" src="../../../images/play.png" data-sound= {{gameItem.sound}}>
</div>