<div class = "third-level__field" data-imageurl = {{gameItem.imageUrl}}>
    <div class = "third-level__field-header">
    <span class = "third-level__field-englishWord">{{gameItem.englishWord}}</span>
    <img class = "third-level__field-sound" src="../../../images/play.png" data-sound = {{gameItem.sound}}>
    </div>
    <div class = "third-level__field-image"></div>
</div>