<div class="third-level__field">
    <span class="third-level__englishWord">{{gameItem.englishWord}}</span>
    <img class="third-level__sound sound-image" src="../../../images/play.png" data-sound= {{gameItem.sound}}>
</div>