<div class="background__second-level">

    <div class="title-level">
        <p class="number-of-levels">Level 2</p>
        <p class="instruction">Прослушай слова и найди для каждого из них подходящую картинку.</p>
    </div>

    <div class="level-container">
        <a class="back button" href="#/first-level/{{game.id}}" title="Click here to return back!">Back</a>

        <div class="second-level">
            <div class="second-level__sound">
                <img class="sound" src="images/play.png">
            </div>

            <div class="second-level__images">
            </div>

            <button class="button second-level__button-switcher">Next sound</button>

            <div class="second-level__block-counter">
                <p class="second-level__score"></p>

                <button class="button second-level__button-start-again">Start again</button>
            </div>
        </div>

        <a class="next button" href="#/third-level/{{game.id}}" title="Click here to play next level!">Next</a>
    </div>
</div>