<div class="background-level2">
    <p class="number-of-levels">Level 2</p>
    <a class="back button" href="#/first-level/{{game.id}}" title="Click here to return back!">Back</a>

    <div class="container-level2">
        <div class="instruction">
            <p>Прослушай слова и найди для каждого из них подходящую картинку.</p>
        </div>
        <div class="container-level2__sound">
            <img class="sound" src="images/play.png">
        </div>

        <div class="container-level2__images">

        </div>

        <button class="button container-level2__button-switcher">Next sound</button>

        <div class="container-level2__block-counter">
            <p class="container-level2__score"></p>
            <button class="button container-level2__new-game">New game</button>
        </div>

    </div>
    <a class="next button" href="#/third-level" title="Click here to play next level!">Next</a>
</div>