<div class="background-level1">
    <p class="container-level1__number-of-level">Level 1</p>
    <a class="back button" href="#/first-level/{{game.id}}" title="Click here to return back!">Back</a>

    <div class="container-level1">
        <div class="instruction">
            <p>Прослушай слова и найди для каждого из них подходящую картинку.</p>
        </div>
        <div class="container-level1__sound">
            <img class="sound" src="images/play.png">
        </div>

        <div class="container-level1__images">

        </div>

        <button class="button container-level1__button-switcher">Next sound</button>

        <div class="container-level1__block-counter">
            <p class="container-level1__score"></p>
            <button class="button container-level1__new-game">New game</button>
        </div>

    </div>
    <a class="next button" href="#/second-level" title="Click here to play next level!">Next</a>
</div>