<header class="header">
    <span class="header__logo">English for kids</span>
    <a class="header__link {{#ifCond page '===' ''}}active{{/ifCond}}" href="#/">
        Main page
    </a>
<!--    <a class="header__link {{#ifCond page '===' 'tasks'}}active{{/ifCond}}" href="#/tasks">-->
<!--        Games-->
<!--    </a>-->
    <div class="dropdown">
        <button class="button dropdown__dropbtn">Games menu</button>
        <div class="dropdown__dropdown-content">
            <a class="dropdown__link" href="#/first-level/:id">Family</a>
            <a href="#">Home Pets</a>
            <a href="#">Numbers</a>
        </div>
    </div>
</header>