<header class="header">
    <span class="header__logo">English for kids</span>
    <a class="header__link {{#ifCond page '===' ''}}active{{/ifCond}}" href="#/">
        Main page
    </a>
    <a class="header__link {{#ifCond page '===' 'tasks'}}active{{/ifCond}}" href="#/tasks">
        Games
    </a>
</header>