<div class = "card-game">
        <img class = "card-game__img" src= {{game.url}}>
        <h3 class = "card-game__name">{{game.gameName}}</h3>
        <a class = "card-game__button-play button" href="#/first-level/{{game.id}}" title="Click here to get started!">
                Play Game
        </a>
 </div>
