<div class="block-game">
        <img src= {{game.url}}>
        <h3>{{game.gameName}}</h3>
        <a class="button button-play" href="#/first-level/{{game.id}}" title="Click here to get started!">
                Play Game
        </a>
 </div>
