<div class="background__main">
    <div class="about">
        <h1 class="page-title">WELCOME!</h1>
        <p class="about__info">
            Наше приложение направлено на изучение и закрепление в памяти ребенка<br>звуковой и письменной формы английских
            слов, а также их перевода. <br>Уроки состоят из трех уровней,<br>
            каждый из которых служит для развития определенных языковых навыков.
        </p>

        <a class="about__btn-start button" href="#/games" title="Click here to get started!">
            Play Game
        </a>
    </div>
</div>